<section id="page">
    <h2 class="heading">Home Component</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Tenetur sit pariatur officia doloremque amet temporibus
            distinctio atque veritatis molestias sint nulla, neque
            blanditiis perspiciatis eaque iste voluptatibus minus
            recusandae vel quisquam ullam voluptatum! Assumenda,
            asperiores necessitatibus deleniti nostrum tempora, harum
            molestiae neque deserunt quibusdam cumque vitae est
            voluptatem aspernatur quisquam.dolor sit amet consectetur adipisicing elit.
            Tenetur sit pariatur officia doloremque amet temporibus
            distinctio atque veritatis molestias sint nulla, neque
            blanditiis perspiciatis eaque iste voluptatibus minusrecusandae vel quisquam ullam voluptatum!
        </p>
        <br />
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Tenetur sit pariatur officia doloremque amet temporibus
            distinctio atque veritatis molestias sint nulla, neque
            blanditiis perspiciatis eaque iste voluptatibus minus
            recusandae vel quisquam ullam voluptatum!
        </p>
        <br />
        <p>
            iste voluptatibus minus recusandae vel quisquam ullam
            voluptatum! Assumenda, asperiores necessitatibus deleniti
            nostrum tempora, harum molestiae neque deserunt quibusdam
            cumque vitae est voluptatem aspernatur quisquam.
        </p>
    <br />

    <button class="btn primary-button" mat-button routerLink="/cartManagement/store">
        Store Front
    </button>
    |
    <button class="btn primary-button" mat-button routerLink="/cartManagement/inventory">
        Inventory
    </button>
</section>